Life_Expec_flow.json
[{"id":"7cc34fb1.e81ea","type":"tab","label":"Life Expectancy","disabled":false,"info":""},{"id":"9a07f56.520d408","type":"ui_form","z":"7cc34fb1.e81ea","name":"","label":"","group":"d4a77a3.8c3e588","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Status","value":"status","type":"text","required":true,"rows":null},{"label":"Adult Mortality (per 1000 population)","value":"mortality","type":"number","required":true,"rows":null},{"label":"Infant Deaths (per 1000 population)","value":"deaths","type":"number","required":true,"rows":null},{"label":"Alcohol Consumption","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"percent_expen","type":"number","required":true,"rows":null},{"label":"Hepatitis B (in %)","value":"HepB","type":"number","required":true,"rows":null},{"label":"Measles (per 1000 population)","value":"measles","type":"number","required":true,"rows":null},{"label":"Avg BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Number of under 5 deaths (per 1000 population)","value":"under5","type":"number","required":true,"rows":null},{"label":"Polio Immunization (in %)","value":"polio","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"total_expen","type":"number","required":true,"rows":null},{"label":"Diphtheria Immunization (in %)","value":"diphtheria ","type":"number","required":true,"rows":null},{"label":"Death by HIV/AIDS (per 1000 population)","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP (in USD)","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population of the Country","value":"population","type":"number","required":true,"rows":null},{"label":"Prevalence of Thinness (age 10 - 19)","value":"thin10","type":"number","required":true,"rows":null},{"label":"Prevalence of Thinness (age 5 - 9)","value":"thin5","type":"number","required":true,"rows":null},{"label":"Income Composition (Range 0 - 1)","value":"income","type":"number","required":true,"rows":null},{"label":"Number of years of Schooling (years)","value":"schooling","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","status":"","mortality":"","deaths":"","alcohol":"","percent_expen":"","HepB":"","measles":"","bmi":"","under5":"","polio":"","total_expen":"","diphtheria ":"","hiv":"","gdp":"","population":"","thin10":"","thin5":"","income":"","schooling":""},"payload":"","submit":"submit","cancel":"RESET","topic":"The Life Expectancy using ML model is :","x":90,"y":160,"wires":[["77bdf3a1.3ce37c"]]},{"id":"77bdf3a1.3ce37c","type":"function","z":"7cc34fb1.e81ea","name":"Pre Token","func":"var developed = ['Australia', 'Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus',\n       'Czechia', 'Denmark', 'Germany', 'Hungary', 'Iceland', 'Ireland',\n       'Italy', 'Japan', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta',\n       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',\n       'Romania', 'Singapore', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',\n       'Switzerland',\n       'United Kingdom of Great Britain and Northern Ireland',\n       'United States of America'];\nvar status = 'Developing';\nfor (var i in developed){\n    if (msg.payload.country == msg.payload.i){\n        status = 'Developed';\n        break;\n    }\n}\n\nglobal.set(\"country\",msg.payload.country)\nglobal.set(\"year\",msg.payload.year)\nglobal.set(\"status\",msg.payload.status)\nglobal.set(\"mortality\",msg.payload.mortality)\nglobal.set(\"deaths\",msg.payload.deaths)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nglobal.set(\"percen_expen\",msg.payload.percent_expen)\nglobal.set(\"total_expen\",msg.payload.total_expen)\nglobal.set(\"HepB\",msg.payload.HepB)\nglobal.set(\"measles\",msg.payload.measles)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"income\",msg.payload.income)\nglobal.set(\"under5\",msg.payload.under5)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"diphtheria\",msg.payload.diphtheria)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"population\",msg.payload.population)\nglobal.set(\"thin5\",msg.payload.thin5)\nglobal.set(\"thin10\",msg.payload.thin10)\nglobal.set(\"schooling\",msg.payload.schooling)\n\nvar apikey = \"v38qG4FU6I5lI1BaLDoqfBAe7B3OGKKh6lQ-F5Kz_JGf\"\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":80,"wires":[["4322b27b.3ae07c"]]},{"id":"4322b27b.3ae07c","type":"http request","z":"7cc34fb1.e81ea","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":220,"wires":[["f7a0fd86.87ab"]]},{"id":"f7a0fd86.87ab","type":"function","z":"7cc34fb1.e81ea","name":"Data","func":"var token = msg.payload.access_token\nvar instance_id = \"c1697f5f-5faf-4ac5-ba75-4f66167aa089\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\nvar country = global.get(\"country\")\nvar year = global.get(\"year\")\nvar status = global.get(\"status\")\nvar mortality = global.get(\"mortality\")\nvar deaths = global.get(\"deaths\")\nvar alcohol = global.get(\"alcohol\")\nvar percen_expen = global.get(\"percen_expen\")\nvar total_expen = global.get(\"total_expen\")\nvar HepB = global.get(\"HepB\")\nvar measles = global.get(\"measles\")\nvar bmi = global.get(\"bmi\")\nvar income = global.get(\"income\")\nvar under5 = global.get(\"under5\")\nvar polio = global.get(\"polio\")\nvar diphtheria = global.get(\"diphtheria\")\nvar hiv = global.get(\"hiv\")\nvar gdp = global.get(\"gdp\")\nvar population = global.get(\"population\")\nvar thin5 = global.get(\"thin5\")\nvar thin10 = global.get(\"thin10\")\nvar schooling = global.get(\"schooling\")\n\nmsg.payload = {\n    \"input_data\": [{\"fields\": [\n    \"Country\", \"Year\", \"Status\", \"Adult_Mortality\",\n    \"Infant_Deaths\", \"Alcohol\", \"Percentage_Expenditure\",\n    \"Total_Expenditure\", \"Hepatitis_B\", \"Measles\", \"BMI\",\n    \"Income\", \"Under_5_Years\", \"Polio\", \"Diphtheria\", \"HIV_AIDS\",\n    \"GDP\", \"Population\", \"Thinness_5\", \"Thinness_10\", \"Schooling\"],\n    \"values\": [\n        [\n            country, year, status, mortality,\n            deaths, alcohol, percen_expen,\n            total_expen, HepB, measles, bmi,\n            income, under5, polio, diphtheria, hiv,\n            gdp, population, thin5, thin10, schooling]]}]\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["7f598d98.37d694","a58fb8f6.455808"]]},{"id":"7f598d98.37d694","type":"http request","z":"7cc34fb1.e81ea","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/62b6b3c2-2d5d-4165-8810-c132b6f04291/predictions","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":220,"wires":[["dc3def89.ff54a","3206a776.cd1f58"]]},{"id":"3206a776.cd1f58","type":"function","z":"7cc34fb1.e81ea","name":"Output","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":140,"wires":[["548d99bc.3c65b8","18a201ef.c1368e","bb4303ec.7cdc5"]]},{"id":"bb4303ec.7cdc5","type":"debug","z":"7cc34fb1.e81ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":60,"wires":[]},{"id":"548d99bc.3c65b8","type":"ui_text","z":"7cc34fb1.e81ea","group":"d4a77a3.8c3e588","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"col-center","x":960,"y":140,"wires":[]},{"id":"18a201ef.c1368e","type":"ui_toast","z":"7cc34fb1.e81ea","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":950,"y":200,"wires":[[]]},{"id":"dc3def89.ff54a","type":"debug","z":"7cc34fb1.e81ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":280,"wires":[]},{"id":"a58fb8f6.455808","type":"debug","z":"7cc34fb1.e81ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":40,"wires":[]},{"id":"d4a77a3.8c3e588","type":"ui_group","z":"","name":"Detail","tab":"ae478fbf.eed74","order":1,"disp":true,"width":"9","collapse":false},{"id":"ae478fbf.eed74","type":"ui_tab","z":"","name":"Life Expectancy","icon":"dashboard","disabled":false,"hidden":false}]